* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 50vh;
    margin:0 auto;
    background-color: #1486e3;
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 100px;
}
.counter-container {
    display:inline-block;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    height: 20px;
    width:auto;
    font-size: 20px;
    margin-top: 20px;
    color:whitesmoke;
}
.counter {
    color: orange;
    display: flex;
    justify-content: center;
    text-align: center;
}